*.class
*.jar
*.war
*.ear

*.iml
.idea/
.project
.classpath
.settings/
target/
bin/

.vscode/

.DS_Store
Thumbs.db

*.log
*.tmp

out/
build/

__pycache__/
*.py[cod]


# 忽略 kafka_dir/data 裡的所有內容，但保留資料夾本身
kafka_dir/data/*
!kafka_dir/data/.gitkeep

flink_dir/checkpoints/*
!flink_dir/checkpoints/.gitkeep

